<footer id="mainfooter" class="p-5 mt-5">
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-4 d-none d-md-block footer-about">
                    <img class="logo-footer" src="/images/logo.png" alt="..." style="width: 60px;height: 70px;">
                    <h3 class="d-inline ml-2" style="vertical-align: text-top;">MovieBlog</h3>
                    <p align="justify">
                        Hi, I am Purvansh Gourh, a CSE undergraduate at Malaviya National
                        Institute of Technology. Thanks for visiting this website.
                    </p>
                </div>
                <div class="col sm-6 col-md-5 col-lg-4 offset-lg-1 offset-md-1 footer-contact">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt mr-1"></i> MNIT Jaipur</p>
                    <p><i class="fas fa-phone mr-1"></i> Phone: +91 1234567890</p>
                    <p><i class="fas fa-envelope mr-1"></i> Email: <a href="mailto:woodcokac@gmail.com"
                            class="abarlink">woodcokac@gmail.com</a></p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 footer-social">
                    <h3>Follow me</h3>
                    <p>
                        <a href="https://www.facebook.com/purvansh.gourh" target="_blank">
                            <i class="fab fa-facebook footer-follow-icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/purvansh-gourh" target="_blank">
                            <i class="fab fa-linkedin footer-follow-icon"></i>
                        </a>
                        <a href="https://github.com/Purvansh-gourh" target="_blank">
                            <i class="fab fa-github footer-follow-icon"></i>
                        </a>
                        <a href="https://www.instagram.com/purvansh_gourh" target="_blank">
                            <i class="fab fa-instagram footer-follow-icon"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>