<%- include('../partials/header'); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
            <div class="container">
                <form action="/forgot" method="POST">
                    <div class="alert alert-info" role="alert">
                        <h4>Reset Password </h4>
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="text" class="form-control" id="mail" name="email"
                            placeholder="Enter your email for reset link" required>
                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-primary w-100" value="Submit" />
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
    <hr>
</div>
<%- include('../partials/footer'); %>