
/* Loading page css */
@font-face{
  font-family: Edo;
  src: url(../fonts/edo.ttf);
}
@font-face{
  font-family: Monaco;
  src: url(../fonts/monaco.ttf);
}
@font-face{
  font-family: Harry;
  src: url(../fonts/harry.ttf);
}
#Harry{
  font-family: "Harry";
}
@font-face{
  font-family: Sherlock;
  src: url(../fonts/sherlock.ttf);
}
#Sherlock{
  font-family: "Sherlock";
}
@font-face{
  font-family: Lotr;
  src: url(../fonts/lotr.ttf);
}
#Lotr{
  font-family: "Lotr";
}
@font-face{
  font-family: Avenger;
  src: url(../fonts/avenger.otf);
}
#Avenger{
  font-family: "Avenger";
}
@font-face{
  font-family: Potc;
  src: url(../fonts/Caribbean.ttf);
}
#Potc{
  font-family: "Potc";
}


#carouselExampleIndicators,.carousel-inner{
  height: 100%;
}
.carousel-item {
  height: 95vh;
  min-height: 350px;
  margin-top: 5vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption{
  font-family: 'Monaco';
}
.loadingnav{
  color: rgb(201, 201, 201) !important;
}
.loadingnav:hover{
  color: rgb(124, 170, 255) !important;
}

@media only screen and (max-height: 500px){
  .carousel-caption{
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .carousel-item{
    background-size: cover;
  }
    .carousel-item:nth-child(1) {
        background-image: url('../images/loading_page/harryPotterSM.jpg') !important;
    }

    .carousel-item:nth-child(3) {
        background-image: url('../images/loading_page/lotrSM.jpg') !important;
    }

    .carousel-item:nth-child(4) {
        background-image: url('../images/loading_page/avengerSM.jpg') !important;
    }

    .carousel-item:nth-child(5) {
        background-image: url('../images/loading_page/potcSM.jpg') !important;
    }
}



#body{
  background: #f8faff;
}

.btn:hover{
  box-shadow: 0 2px 5px 2px rgba(116, 116, 116,0.5);
}

/* navbar css */
#navlogo{
  width: 40px;
  height: 50px;
  transition: all 0.3s;
}
#navlogo:hover{
  transform: scale(1.1);
}

.abarlink{
    color: rgb(238, 238, 238);
    text-decoration: none !important;
}
.abarlink:hover{
    color: #007bff;
}
#mainnav,#dashtopnav{
  transition: box-shadow 0.3s;
  /* background-color: #1f1c2c; */
  /* background: -webkit-linear-gradient(to right, #1f1c2c, #928dab) ; */
  background: linear-gradient(to left, #485563, #29323c);
}
#mainnav:hover{
  box-shadow: 2px 2px 5px 5px rgb(131, 131, 131);
}
#mainfooter{
  font-family: Monaco;
  background: linear-gradient(to left, #485563, #29323c);
  color: rgb(209, 209, 209);
}
.footer-follow-icon{
  color: white;
  font-size: 24px;
  margin-right: 1rem;
  border-radius: 50%;
}
.footer-follow-icon:hover{
  color: #007bff;
}
.footer-social a{
  text-decoration: none !important;
}

/* Rating star css */

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 27px;
  color: #444;
  transition: all .2s;
}

label.star:hover~label.star:before,label.star:hover:before {
  content: '\f005';
  color: #FD4;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
  
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}


/* Dashboard css */

#profileimg {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#profileimg img{
  max-width: 250px;
  max-height: 250px;
}


/* general css  */

.card{
  transition: box-shadow 0.3s;
}
.card:hover{
  box-shadow: 0 5px 15px 2px rgba(33,33,33,.4);
}
#likebtn,#unlikebtn{
  color: red;
  font-size: 2rem;
  transition: all 0.2s ease;
}
#likeform:hover,#unlikeform:hover{
  color: red;
  transform: scale(1.2);
}


/* index page css */

.slideInFromLeft{
  animation: slideinfromleft 0.5s ease-in-out !important;
}
@keyframes slideinfromleft {
  from{
    opacity: 0;
  }
}
